#root, .App {
  height: 100%;
  background-color: lightgray;
}

.App, .login-page, .home-page, .login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-btn {
  margin: 10px;
}

.error-label {
  color: red;
}

.change-form-btn, .logout-btn {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.logout-btn {
  align-self: end;
}

.delete-btn {
  cursor: pointer;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  margin: 0 5px;
  color: gray;
  cursor: pointer;
}

.pagination-item.selected {
  color: unset;
  cursor: unset;
  pointer-events: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3f4b52;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}